---
layout: default
---

<div class="home">

  <h1 class="page-heading">All my Posts</h1>

  <div class="posts">

    {% for post in site.posts limit: 1 %}
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{{ post.title }}</h1>
          <p class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.author %} • {{ post.author }}{% endif %}
            {% if post.meta %} • {{ post.meta }}{% endif %}
          </p>
        </header>

        <div class="post-content">
          {{ post.content }}
        </div>
      </article>
    {% endfor %}

  </div>

  <div class="infinite-spinner"></div>

</div>
